# Copyright (C) 2026 chickendrop89
# SPDX-License-Identifier: GPL-3.0-only

on init
    start vendor.qseecomd

# Runs after qseecomd starts
on property:vendor.sys.listeners.registered=true
    start vendor.ssgtzd
    start vendor.keymint-qti
    start vendor.gatekeeper-qti

# Runs after decryption
on property:twrp.all.users.decrypted=true
    setprop crypto.ready 0

    stop keystore2
    stop vendor.keymint-qti
    stop vendor.qseecomd
    stop vendor.ssgtzd
    stop vendor.gatekeeper-qti

# Runs after decryption, and running touchscreen service 
on property:twrp.firmware.mounted=true && property:init.svc.vendor.gatekeeper-qti=running && property:init.svc.touchfeature-service=running
    exec u:r:recovery:s0 -- /system/bin/sleep 3

    umount /vendor/firmware_mnt
    umount /firmware
    umount /mnt/vendor/persist

    setprop twrp.firmware.mounted false
